{
    "extends": ["umi", "eslint:recommended"],
    "rules": {
        "indent": ["warn", 4, { "SwitchCase": 1 }],
        "no-console": ["off"],
        "quotes": ["warn", "single"],
        "semi": ["error", "always"],
        "react/prop-types": 0
    }
}
