.item_box_btn{
    flex: 0 1 62px;
    height: 44px;
    line-height: 44px;
}
.item_btn{
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0; 
    height: 44px;
    line-height: 44px;
    font-size: 14px;
}
.item_box_input{
    flex: 1 1 auto;
}

.search_input_bar .am-list-item .am-input-control input {
    font-size: 14px;
}